<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Sleipnizer for Safari</string>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>SleipnizerforSafari.png</string>
		<key>label</key>
		<string>Sleipnizer for Safari</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>OpenTabBackgroundEnabled</string>
			<key>label</key>
			<string>OpenTabBG+ Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>GesturesEnabled</string>
			<key>label</key>
			<string>Gestures Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
         <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>"L" Letter Gestures</string>
            <key>footerText</key>
            <string>U=Up, D=Down, L=Left, R=Right</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>LLetterGesturesEnabled</string>
			<key>label</key>
			<string>Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>28</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>ULAction</string>
			<key>label</key>
			<string>UL Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>ULActionController</string>
			<key>id</key>
			<string>ULAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>29</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>URAction</string>
			<key>label</key>
			<string>UR Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>URActionController</string>
			<key>id</key>
			<string>URAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>DLAction</string>
			<key>label</key>
			<string>DL Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>DLActionController</string>
			<key>id</key>
			<string>DLAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>12</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>DRAction</string>
			<key>label</key>
			<string>DR Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>DRActionController</string>
			<key>id</key>
			<string>DRAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>"U" Letter Gestures</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>ULetterGesturesEnabled</string>
			<key>label</key>
			<string>Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>ULDAction</string>
			<key>label</key>
			<string>ULD Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>ULDActionController</string>
			<key>id</key>
			<string>ULDAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>6</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>URDAction</string>
			<key>label</key>
			<string>URD Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>URDActionController</string>
			<key>id</key>
			<string>URDAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>19</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>DLUAction</string>
			<key>label</key>
			<string>DLU Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>DLUActionController</string>
			<key>id</key>
			<string>DLUAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>20</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>DRUAction</string>
			<key>label</key>
			<string>DRU Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>DRUActionController</string>
			<key>id</key>
			<string>DRUAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
         <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>LAB Gestures</string>
            <key>footerText</key>
            <string>Glitchy action! You have been warned.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>LABGesturesEnabled</string>
			<key>label</key>
			<string>Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>UDAction</string>
			<key>label</key>
			<string>UD Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>UDActionController</string>
			<key>id</key>
			<string>UDAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>DUAction</string>
			<key>label</key>
			<string>DU Action</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>DUActionController</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>id</key>
			<string>DUAction</string>
			<key>get</key>
			<string>generalGetter:</string>
			<key>valuesDataSource</key>
			<string>valuesSource:</string>
			<key>titlesDataSource</key>
			<string>titlesSource:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
              <string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>LRGesturesEnabled</string>
			<key>label</key>
			<string>L/R mvTab Enabled</string>
              <key>PostNotification</key>
              <string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
		</dict>
         <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>JavaScript Action</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>JSAction</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>placeholder</key>
			<string>alert('edit this form');</string>
			<key>default</key>
			<string>alert('edit this form');</string>
		</dict>
         <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>etc</string>
         </dict>
        	<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>80</string>
			<key>defaults</key>
			<string>jp.r-plus.Sleipnizer</string>
			<key>key</key>
			<string>Sensitivity</string>
			<key>label</key>
			<string>Sensitivity</string>
			<key>PostNotification</key>
			<string>jp.r-plus.SleipnizerforSafari.settingschanged</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>80</string>
				<string>100</string>
				<string>120</string>
				<string>160</string>
				<string>200</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>80(default)</string>
				<string>100</string>
				<string>120</string>
				<string>160</string>
				<string>200(insensitive)</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SleipnizerLicenseViewController</string>
			<key>label</key>
			<string>License</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Author @r_plus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>tw:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Preference SourceCode</string>
		</dict>
    </array>
</dict>
</plist>
